extends home.pug

block title
  - var titleText = ''
  if indexMode
    - titleText = `/${currentBoard}/ - Index`
  else
    if posts && posts[0]
      - const titlePost = posts[0]
      if titlePost.subject
        - titleText = `/${currentBoard}/ - ${titlePost.subject}`
      else if titlePost.message
        - titleText = `/${currentBoard}/ - ${titlePost.message}`
      else
        - titleText = `/${currentBoard}/ - ${titlePost.hash.slice(0,cfg.postHashLength)}`
    else
      - titleText = `/${currentBoard}/`
    
  title #{titleText}

block content
  h2 /#{currentBoard}/ 
  include pagelinks.pug
  -var postsOnPage = (indexMode && posts.length) ? [] : [posts[0].hash].concat(posts[0].replies.map(r => r.hash))
  each post in posts
    -var item = post
    hr.dividing-line
    div
      include post.pug
      if indexMode && post.omittedreplies
        div
          .omittedreplies #{post.omittedreplies} #{post.omittedreplies > 1 ? "replies" : "reply"} omitted, click Reply to view.
      if post.replies && post.replies.length > 0
        each reply in post.replies
          - item = reply
          div
            include post.pug
  hr.dividing-line
  include pagelinks.pug