extends home.pug

block title
  title #{cfg.pageTitle} - Home

block content
  h2 Welcome
  h2 Add Watched Board
  form(action="/addWatchedBoard" method="POST" class="config-form")
    label(for="boardId") Board ID: &nbsp;
    input(type="text" id="boardId" name="boardId" required)
    |  
    button(type="submit", class="sidebarbutton") Add

  h2 Currently Watched Boards
  include boardtable.pug

  h2 Client ID
  span #{clientId}

  h2 Add Moderator
  form(action="/addModerator" method="POST" class="config-form")
    label(for="moderatorId") Moderator Client ID: &nbsp;
    input(type="text" id="moderatorId" name="moderatorId" required)
    |  
    button(type="submit", class="sidebarbutton") Add

  h2 Current Moderators
  each moderator, index in moderators
    div.moderator
      span #{moderator}
      form(action="/removeModerator" method="POST", style="display:inline-block; margin-left: 5px;")
        input(type="hidden" name="moderatorId" value=moderator)
        button(type="submit", class="delete-link") X

  if renderFunctions.gatewayCanDo(req,'changeConfig',false)
    include configform.pug

  h2
    a(href="/prune.html") Pruning Interface
  h2
    a(href="/query.html") Query Interface

  if renderFunctions.gatewayCanDo(req,'changeGatewayConfig',false)
    h2
      a(href="/gatewayconfig.html") Gateway Configuration

  h2 Peer Dialing
  label(for="myMultiAddrTextbox") My MultiAddr:
  br
  input(type="text", id="myMultiAddrTextbox", readonly, value=myMultiAddr)
  form(action="/connectToPeer" method="POST" enctype="multipart/form-data" class="config-form")
    label(for="peerMultiAddr") Peer MultiAddr:
    br
    input(type="text", id="peerMultiAddr", name="peerMultiAddr" required)
    br
    br
    button(type="connecttopeer", class="sidebarbutton") Connect to Peer MultiAddr