div.embedded-file(id=file.postfilehash, filehash=file.postfilehash, board=currentBoard)
  p.embedded-info
    a(href=`/download/${item.board}/${file.postfilehash}/${file.filename}`, download=file.filename) #{file.filename}
    | , #{renderFunctions.formatFileSize(file.size)}
  if file.fileStatus
    if cfg.embedImageFileExtensions.includes(file.extension.toLowerCase())
      div
        img(src=`/download/${item.board}/${file.postfilehash}.${file.extension}`, alt=file.filename, class="embedded-image")
    else if cfg.embedVideoFileExtensions.includes(file.extension.toLowerCase())
      div
        video(controls="", loop="", class="embedded-image")
          source(src=`/download/${item.board}/${file.postfilehash}.${file.extension}`, type=`video/${file.extension}`)
    else if cfg.embedAudioFileExtensions.includes(file.extension.toLowerCase())
      div
        audio(controls="", class="embedded-image")
          source(src=`/download/${item.board}/${file.postfilehash}.${file.extension}`, type=`audio/${file.extension}`)
    else
      a(href=`/download/${item.board}/${file.postfilehash}${file.extension ? '.'+file.extension : ''}`, download=file.filename)
        span.file-icon 🗎
  else
    span.file-not-found-icon ❌