p.embedded-info
  a(href=`/download/${currentBoard}/${file.fileHash}`, download=file.fileHash) #{file.fileHash}
  | , Size: #{renderFunctions.formatFileSize(file.fileSize)} 
div.embedded-image-container
  img(src=`/download/${currentBoard}/${file.hash}.${file.extension}`, alt=file.filename, class="embedded-image")
a(href=`/download/${currentBoard}/${file.hash}${file.extension ? '.'+file.extension : ''}`, download=file.filename)
  span.file-icon 🗎