doctype html
html
  head
    block title
      title #{cfg.pageTitle}
    link(rel="stylesheet", href=`/themes/${cssTheme}.css`)
    script(src='/scripts/main.js', nonce=nonce)
    body
      .wrapper
        .content
          div.watched-boards
            | [ 
            each boardId, index in watchedBoards
              | #{index === 0 ? '' : ' / '}
              a(href=`/${boardId}/index.html`) #{boardId}
            |  ]
            if specialPageLinks.length
              |  [ 
              each specialPageLink, index in specialPageLinks
                | #{index === 0 ? '' : ' / '}
                a(href=`/${specialPageLink}`) #{specialPageLink.slice(0, specialPageLink.lastIndexOf('.')) || specialPageLink}
              |  ]
          if alert
            .alert #{alert}
          block content
        .sidebar
          if req.session.hideSidebar
            .sidebar-tab
              a(href='/function/toggleSidebar' title='Show Sidebar') «
          else
            .sidebar-content
              if renderFunctions.gatewayCanDo(req,'post',false)
                include postform.pug

              if renderFunctions.gatewayCanDo(req, 'delPost', false) || renderFunctions.gatewayCanDo(req, 'delFile', false)
                h3.sidebar-header Moderation
                if renderFunctions.gatewayCanDo(req, 'delPost', false)
                  button(id="delete-post-button", class="sidebarbutton") Delete Post
                if renderFunctions.gatewayCanDo(req, 'delFile', false)
                  button(id="delete-file-button", class="sidebarbutton") Delete File
                if renderFunctions.gatewayCanDo(req, 'delPost', false)
                  button(id="select-post-button", class="sidebarbutton") Select Posts
                  button(id="mass-select-post-button", class="sidebarbutton") Mass-Select Posts
                if renderFunctions.gatewayCanDo(req, 'delFile', false)
                  button(id="select-file-button", class="sidebarbutton") Select Files
                button(id="delete-selected-button", class="sidebarbutton") Delete Selected
                if renderFunctions.gatewayCanDo(req, 'delPost', false) && renderFunctions.gatewayCanDo(req, 'delFile', false)
                  button(id="delete-selected-with-files-button", class="sidebarbutton") Delete Selected And Files
                button(id="clear-selection-button", class="sidebarbutton") Clear Selection

              if renderFunctions.gatewayCanDo(req,'changeTheme',false)
                .control-panel
                  h3.sidebar-header Settings
                  label(for="cssThemeSelector") Theme: 
                  select(id="cssThemeSelector", onchange="changeTheme()")
                    each theme in themes
                      option(value=theme, selected=(theme === cssTheme ? 'selected' : null)) #{theme.split(' ').map(word => word.charAt(0).toUpperCase() + word.slice(1)).join(' ')}
            .sidebar-tab
              a(href='/function/toggleSidebar' title='Hide Sidebar') »