div(class=item.replyto ? 'post_reply' : 'post', hash=item.hash)
  div
    div.post-header
      if item.subject
        span.subject #{item.subject}
      if item.email
        a(href=`mailto:${item.email}`, class="namewithlink") #{item.name ? item.name : defaultName}
      else
        span.name #{item.name ? item.name : defaultName}
      span.date #{new Date(parseInt(item.date)).toLocaleString()}
      if indexMode && !item.replyto
        span.reply-link
          a(href=`/${currentBoard}/thread/${item.hash}.html`) [Reply]
    if item.files && item.files.length > 0
      div.embedded-files
        each file in item.files
          div.embedded-file(filehash=file.hash)
            include embeddedfile.pug
    else
      div.embedded-nothing
    if item.message
      div.message
        each line in item.message.split('\n')
          if line.startsWith('>')
            span.message-quote #{line}
          else
            span #{line}