extends home.pug

block title
  title #{cfg.pageTitle} - Pruning

block content
  h2 Enter Pruning Query Parameters
  form(action="/submitPruneQuery" method="POST" class="config-form")
    label(for="boardIds") Comma-Separated Board IDs: &nbsp;
    input(type="text" id="boardIds" name="boardIds" value=lastPruneQueryBoards)
    label(for="queryLimit") Limit: &nbsp;
    input(type="number" id="queryLimit" name="queryLimit" value=lastPruneQueryLimit)
    |  
    button(type="submit", class="sidebarbutton") Execute
  h2 Found Orphans
  form(class = "post-form")
    label(for="orphanReplies") Orphan Replies:
    br
    textarea(id="orphanReplies" name="orphanReplies")
      | #{JSON.stringify(orphanReplies)}
    br
    label(for="orphanFileRefs") Orphan File References:
    br
    textarea(id="orphanFileRefs" name="orphanFileRefs")
      | #{JSON.stringify(orphanFileRefs)}
    br
    label(for="orphanFileChunks") Orphan File Chunks:
    br
    textarea(id="orphanFileChunks" name="orphanFileChunks")
      | #{JSON.stringify(orphanFileChunks)}
    br
    button(type="submit" formaction="/pruneMany" formmethod="post" class="config-form sidebarbutton" name="action" value="prune") Prune
    button(type="submit" formaction="/pruneMany" formmethod="post" class="config-form sidebarbutton" name="action" value="delete") Delete
